@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Now You're here!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">DevOps brings life to Automation in Tech</a>.</p>
</div>
